# Terraform
terraform.tfvars
terraform.tfstate
terraform.tfstate.*
.terraform/

# Ansible
ansible/inventory.ini

# SSH keys (example)
*.pem
*.key

# Python (if any scripts are used)
__pycache__/
*.pyc

# macOS / Linux / system files
.DS_Store
*.swp
*.swo

# Logs
*.log

# Editor/IDE files
.vscode/
.idea/
